.home-header {
  background-color: #f2f8fb;
  padding-top: 20px;
  padding-bottom: 30px;
}

.home-header__nav {
  display: grid;
  grid-template-columns: repeat(12, 93px);
  align-items: center;
  column-gap: 24px;
}

.home-header__logo {
  grid-column: 6 / 8;
  margin-left: auto;
  margin-right: auto;
}
