.floral-card {
  padding: 30px;
  background-color: #fafafa;
  text-align: center;
}

.floral-card__title {
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: "Merriweather", "Times New Roman", serif;
  font-size: 22px;
  font-weight: 300;
}

.floral-card__price {
  margin-top: 0;
  margin-bottom: 20px;
}
