.floral-filter {
  background-color: transparent;
  font: inherit;
  margin-bottom: 50px;
  padding: 18px;
  padding-right: 60px;
  appearance: none;
  background-image: url("../../img/icons/floral_arrow_down.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 340px center;
}
