@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Lora";
  font-display: swap;
  src:
    url("../fonts/lora/lora-regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Lora";
  font-display: swap;
  src:
    url("../fonts/lora/lora-medium.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Manrope";
  font-display: swap;
  src:
    url("../fonts/manrope/manrope-regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Manrope";
  font-display: swap;
  src:
    url("../fonts/manrope/manrope-medium.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Manrope";
  font-display: swap;
  src:
    url("../fonts/manrope/manrope-semibold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Manrope";
  font-display: swap;
  src:
    url("../fonts/manrope/manrope-bold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Manrope";
  font-display: swap;
  src:
    url("../fonts/manrope/manrope-extrabold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Merriweather";
  font-display: swap;
  src:
    url("../fonts/merriweather/merriweather-light.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Source Sans Pro";
  font-display: swap;
  src:
    url("../fonts/sourcesanspro/sourcesanspro-regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Roboto";
  font-display: swap;
  src:
    url("../fonts/roboto/roboto-light.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";
  font-display: swap;
  src:
    url("../fonts/roboto/roboto-medium.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Roboto";
  font-display: swap;
  src:
    url("../fonts/roboto/roboto-black.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Montserrat";
  font-display: swap;
  src:
    url("../fonts/montserrat/montserrat-light.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat";
  font-display: swap;
  src:
    url("../fonts/montserrat/montserrat-regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Montserrat";
  font-display: swap;
  src:
    url("../fonts/montserrat/montserrat-medium.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Montserrat";
  font-display: swap;
  src:
    url("../fonts/montserrat/montserrat-bold.woff2") format("woff2");
}
