.speak-search {
  display: flex;
  align-items: center;
  background-image: url("../../img/icons/speak-search.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 0 center;
  padding-left: 26px;
}

.speak-search__input {
  flex-grow: 1;
  font-size: 16px;
  padding: 6px;

  &::placeholder {
    color: #b4bef0;
  }
}
